$bg-base: #131917;
$bg-dark: #0e1412;
$blue: #3368f6;
$box-black: #101513;
$text-gray: #9daba0;
$text-gray-2: #6f7a72;
$text-black: #3b403c;
$white: #ffffff;
$gray: #dcdfdc;
$grey: #c4c8c4;
$green: #22b573;
$purple-light: #b47dbd;
$purple: #a144c1;
$purple-button: linear-gradient(90deg, #6c2e9c 0%, #792e9c 100%);

$modal-dark: #1a211d;

$black: #000000;
$dark: #17211c;
$light: #eef3ec;
$accent: #6ee7b7;
$gold: #6ee7b7;
$accent-deep: #0c9d68;
$red: red;
$white: #ffffff;
